.page.dashboard-page {

  .page-wrapper {
    background-color: $highlight-background-color;
    padding: 40px;
    border-radius: 40px;
    margin-top: 40px;
  }

  h1 {
    color: $primary-title-color;
    text-align: center;
    font-weight: bold;
    padding-bottom: 40px;
  }

  .guild-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .guild-link {
      text-decoration: none;
      flex: 1 1 calc(25% - 20px); 
      max-width: calc(25% - 20px);

      .guild-card {
        padding: 10px;
        display: flex;
        position: relative;
        flex-direction: row;
        height: 100px;
        overflow: hidden;
        border-radius: 10px;
        transition: 0.3s;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.1);

        &:hover {
          transform: scale(1.05);
          //box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
        }
  
        .guild-background {
          position: absolute;
          height: 100%;
          width: 100%;
          object-fit: cover;
          top: 0;
          left: 0;
          z-index: 1;
          filter: blur(12px) brightness(0.5);;
          transform: scale(1.3);
        }
  
        .guild-icon-wrapper {
          flex-shrink: 0;
          position: relative;
          height: 80px;
          width: 80px;
          border-radius: 10px;
          margin-right: 10px;
          overflow: hidden;
          z-index: 3;
          display: flex;
          justify-content: center;
          align-items: center;

          .guild-icon {
            position: relative;
            object-fit: cover;
            height: 100%;
            width: 100%;
            z-index: 3;
          }

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.2);
            z-index: 2;
          }
        }
        
  
        .guild-content {
          position: relative;
          z-index: 3;
  
          .title {
            color: white;
            font-size: 20px;
            font-weight: bold;
            word-wrap: break-word;
          }
        }
      }
    }
  }

  //for small laptops
  @media (max-width: 1199px) {
    .guild-cards {
      .guild-link {
        flex: 1 1 calc(33.33% - 20px); /* 3 cards per row */
        max-width: calc(33.33% - 20px);
      }
    }
  }

  // for tablets
  @media (max-width: 991px) {
    .guild-cards {
      .guild-link {
        flex: 1 1 calc(50% - 20px); /* 3 cards per row */
        max-width: calc(50% - 20px);
      }
    }
  }

  // for phones
  @media (max-width: 767px) {
    @media (max-width: 767px) {
      .guild-cards {
        .guild-link {
          flex: 1 1 100%; /* 3 cards per row */
          max-width: 100%;
        }
      }
    }
  }





  // .guild-cards {
  //   z-index: 0;
  //   width: 100%;
  //   display: flex;
  //   justify-content: space-around;
  //   flex-wrap: wrap;
  // }

  // .guild {
  //   margin: 20px auto;
  //   width: 300px;
  //   height: 180px;
  //   border-radius: 15px;
  //   //box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  //   cursor: pointer;
  //   transition: 0.3s;
  //   position: relative;

  //   .guild_image {
  //     width: inherit;
  //     height: inherit;
  //     border-radius: 15px;
  //     background-color: black;

  //     img {
  //       width: inherit;
  //       height: inherit;
  //       border-radius: 15px;
  //       object-fit: cover;
  //     }
  //   }

  //   .guild_name {
  //     top: 0;
  //     width: 100%;
  //     height: 100%;
  //     background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 25%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 60%);

  //     border-radius: 15px;

  //     display: flex;
  //     justify-content: center;
  //     align-items: flex-end;

  //     position: absolute;

  //     p {
  //       color: rgb(230, 230, 230);
  //       font-family: sans-serif;
  //       font-weight: bold;
  //       font-size: 25px;

  //       margin: 0 0 3px 0;
  //       padding: 0;

  //       white-space: nowrap;
  //       overflow: hidden;
  //       text-overflow: ellipsis;
  //       width: 90%;
  //     }
  //   }

  //   &:hover {
  //     transform: scale(1.05, 1.05);
  //   }
  // }

}