html,
body {
    color: white;
    background: linear-gradient(180deg, #121212, #191919);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;

    main {
        min-height: calc(100vh - 70px);
    }
}

//for small laptops
@media (max-width: 1199px) {}

// for tablets
@media (max-width: 991px) {}

// for phones
@media (max-width: 767px) {}