body {
    height: 100vh;
    background: radial-gradient(circle at center, $secondary-background-color, $primary-background-color);
    color: white;
    margin: 0;

    // add sidebar on certain pages
    &.with-sidebar {
        .main {
            margin-left: 240px;
            padding: 20px;
        }
    }
}

//for small laptops
@media (max-width: 1199px) {

}

// for tablets
@media (max-width: 991px) {
    body {
        &.with-sidebar {
            .main {
                margin-left: 0;
                padding: 0;
            }
        }
    }
}

// for phones
@media (max-width: 767px) {
    body {
        &.with-sidebar {
            .main {
                margin-left: 0;
                padding: 0;
            }
        }
    }
}