$primary-accent-color: rgb(255, 28, 84);
$primary-accent-color-hover: rgba($primary-accent-color, 0.7);
$secondary-accent-color: green;
$secondary-accent-color-hover: green;

$primary-background-color: #121212;
$secondary-background-color: #191919;
$highlight-background-color: #202020;

$primary-title-color: #f0f0f0;
$primary-description-color: #d0d0d0;

$secondary-title-color: #a5a5a5;
$secondary-description-color: #686868;

$highlight-title-color: white;
$highlight-description-color: white; //idk yet

$primary-link-color: #e6e6e6;
$primary-link-color-hover: rgba($primary-link-color, 0.8);

$secondary-link-color: #686868;
$secondary-link-color-hover: #c0c0c0;