$navbar-color: #111525;

$primary-sidebar-color: $navbar-color;
$secondary-sidebar-color: $navbar-color;

$primary-background-color: #111527;
$secondary-background-color: #252a3b;

$selection-box-color: $navbar-color;
$selection-input-color: #1B1F30;

$title-color: white;
$title-color-hover: #bee8ff;
$text-color: white;
$subtitle-color: #d7d7d7;