// src/components/settings/subcomponents/selector

.setting-subcomponent.selector {
    .setting-item {
        .selector {
            position: relative;
            max-width: 600px;

            .active-list {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                background-color: $setting-content-color;
                padding: 10px;
                border-radius: 10px;

                .list-item {
                    padding: 5px 10px;
                    border-radius: 15px;
                    cursor: pointer;
                    background-color: $setting-item-color;
                    border: 1px solid transparent;
                    transition: 250ms;
                    align-items: center;
                    display: none;

                    .channel-icon-wrapper {
                        box-sizing: border-box;
                        height: 15px;
                        width: 15px;
                        margin-right: 10px;
                        margin-top: 2px;
                        border-radius: 15px;
                        overflow: hidden;

                        .channel-delete-color {
                            visibility: hidden;
                            height: 100%;
                            width: 100%;
                            background-color: #00FFFF;
                            background-image: url("../../../assets/img/icons/close.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 40%;
                            filter: invert(1);
                            transform: translateY(-100%);
                            transition: transform 250ms ease, visibility 0s 250ms;

                        }

                        .channel-color {
                            display: flex;
                            height: 100%;
                            width: 100%;
                            align-items: center;
                            justify-content: center;
                            transform: translateY(-100%);
                            transition: transform 250ms ease;

                            .channel-icon {
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }

                    .role-color-wrapper {
                        height: 15px;
                        width: 15px;
                        border-radius: 10px;
                        margin-right: 10px;
                        overflow: hidden;
                        pointer-events: none;

                        .role-delete-color {
                            visibility: hidden;
                            height: 100%;
                            width: 100%;
                            background-image: url("../../../assets/img/icons/close.png");
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: 40%;
                            filter: invert(1);
                            transform: translateY(-100%);
                            transition: transform 250ms ease, visibility 0s 250ms;
                        }

                        .role-color {
                            height: 100%;
                            width: 100%;
                            transform: translateY(-100%);
                            transition: transform 250ms ease;
                        }
                    }

                    &.active {
                        display: flex;
                    }

                    &:hover {
                        border: 1px solid red;

                        .channel-icon-wrapper {
                            .channel-color {
                                visibility: visible;
                                transform: translateY(0);
                                transition: transform 250ms ease;
                            }

                            .channel-delete-color {
                                visibility: visible;
                                transform: translateY(0);
                                transition: transform 250ms ease;
                            }
                        }

                        .role-color-wrapper {
                            .role-color {
                                visibility: visible;
                                transform: translateY(0);
                                transition: transform 250ms ease;
                            }

                            .role-delete-color {
                                visibility: visible;
                                transform: translateY(0);
                                transition: transform 250ms ease;
                            }
                        }
                    }
                }

                .add-button {
                    color: white;
                    padding: 5px 10px;
                    border: none;
                    border-radius: 15px;
                    cursor: pointer;
                    background-color: $setting-button-color;
                    transition: 200ms;

                    &.hidden {
                        display: none;
                    }

                    &.invalid {
                        border: 1px solid red;
                    }

                    &:hover {
                        background-color: $setting-button-color-hover;
                    }
                }
            }

            .inactive-list-wrapper {
                display: none;
                position: absolute;
                background-color: $setting-dropdown-color;
                border-radius: 10px;
                width: 100%;
                padding: 0 10px 0 0;
                margin-top: 3px;
                z-index: 1;
                overflow: hidden;

                ::-webkit-scrollbar {
                    width: 8px;
                    background-color: rgba(0, 0, 0, 0);
                    -webkit-border-radius: 100px;
                }

                ::-webkit-scrollbar:hover {
                    background-color: rgba(0, 0, 0, 0.09);
                }

                ::-webkit-scrollbar-thumb:vertical {
                    background: rgba(0, 0, 0, 0.5);
                    -webkit-border-radius: 100px;
                }

                ::-webkit-scrollbar-thumb:vertical:active {
                    background: rgba(0, 0, 0, 0.61);
                    -webkit-border-radius: 100px;
                }

                .inactive-list {
                    max-height: 200px;
                    overflow-y: auto;

                    .list-item {
                        display: flex;
                        align-items: center;
                        border-radius: 5px;
                        padding-left: 10px;

                        input {
                            display: none;
                        }

                        &.active {
                            display: none;
                        }

                        .channel-icon-wrapper {
                            pointer-events: none;

                            .channel-color {
                                margin-right: 10px;

                                .channel-icon {
                                    height: 15px;
                                    width: 15px;
                                }
                            }
                        }

                        .role-color {
                            height: 15px;
                            width: 15px;
                            border-radius: 10px;
                            margin-top: 2px;
                            margin-right: 10px;
                            pointer-events: none;
                        }

                        .item-name {
                            line-height: 1;
                            padding: 5px 0 5px 0;
                            pointer-events: none;
                        }

                        &:hover {
                            background-color: $setting-dropdown-color-hover;
                        }
                    }
                }

                &.active {
                    display: block;
                }
            }
        }
    }
}