// src/components/settings/save-changes
.component.save-changes {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: inherit;
    max-width: inherit;
    z-index: 0;
    pointer-events: none;

    .component-body {
        display: flex;
        background-color: rgb(37, 37, 37);
        padding: 15px 20px;
        border-radius: 10px;
        align-items: center;
        justify-content: space-between;

        position: fixed;
        width: inherit;
        z-index: 5;
        max-width: inherit;
        width: 100%;
        bottom: 40px;
        pointer-events: auto;

        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.3s ease, transform 0.3s ease;

        .component-title {
            p {
                margin: 0;
                padding: 0;
                line-height: 1;
                font-size: 20px;
                font-weight: bold;
            }
        }

        .component-buttons {
            display: flex;
            gap: 10px;

            button {
                padding: 5px;
                width: 100px;
                border: 0;
                border-radius: 20px;
                font-size: 18px;
            }

            .discard-button {
                color: white;
                background-color: rgba($color: #ec0569, $alpha: 0.6);
                transition: 200ms;

                &:hover {
                    background-color: rgba($color: #ec0569, $alpha: 1);
                }
            }

            .save-button {
                color: white;
                background-color: rgba($color: #14c78b, $alpha: 0.6);
                transition: 200ms;

                &:hover {
                    background-color: rgba($color: #14c78b, $alpha: 1);
                }
            }
        }

        

        &.visible {
            opacity: 1;
            transform: translateY(0);
          }
    }
}