.component.settings-component {
    .settings-section {
        background-color: $selection-box-color;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 50px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

        .settings-title {
            font-size: 35px;
            line-height: 1;
            color: $primary-title-color;
            padding-bottom: 10px;
            font-weight: bold;
        }

        .settings-description {
            font-size: 12px;
            line-height: 1;
            color: $primary-description-color;
            padding-bottom: 25px;
        }
    }
}




.setting-component {

    .setting-item {
        padding-bottom: 15px;

        .setting-item-title-wrapper {
            display: flex;
            padding-bottom: 10px;
            align-items: center;

            .setting-item-title {
                font-size: 17px;
                line-height: 1;
                color: green;
                padding-left: 5px;
                flex-grow: 0;
            }

            .info-button-wrapper {
                position: relative;
                padding-left: 10px;
                flex-grow: 1;

                .info-button {
                    font-size: 17px;
                    line-height: 1;
                    color: $subtitle-color;
                    cursor: pointer;
                    width: fit-content;
                }

                .info-dropdown {
                    top: -10px;
                    left: 35px;
                    position: absolute;
                    background-color: #566185;
                    border-radius: 10px;
                    padding: 10px;
                    z-index: 1;
                    display: none;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 20px;
                        left: -19px;
                        border-width: 10px;
                        border-style: solid;
                        border-color: transparent #566185 transparent transparent;
                        transform: translateY(-50%);
                        pointer-events: none;
                    }

                    &.active {
                        display: block;
                    }
                }
            }

            /*.section-description {
            font-size: 12px;
            line-height: 1;
            color: $subtitle-color;
            padding-bottom: 5px;
            padding-left: 5px;
            }*/

        }


        .input-field,
        .text-field {
            position: relative;
            background-color: $selection-input-color;
            min-height: 54px;
            max-width: 600px;
            padding: 15px 20px;
            border-radius: 10px;

            input,
            textarea {
                width: 100%;
                color: white;
                background-color: $selection-input-color;
                border: none;
                outline: none;
            }

            textarea {
                height: 98px;
            }

        }

        
    }
}