// src/layout/sidebarlayout
.layout.sidebar-layout {
    background: linear-gradient(180deg, $highlight-background-color, $secondary-background-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;

    main {
        padding-left: 240px;
        padding-top: 50px;
        padding-bottom: 150px;
    }

    //for small laptops
    @media (max-width: 1199px) {
    }

    // for tablets
    @media (max-width: 991px) {
        main {
            padding-left: 0;
        }
    }

    // for phones
    @media (max-width: 767px) {

    }
}

